<!--
========================================================
                        CONTENT
========================================================
-->
<main class="page-content subpage_header">
    <audio src="~/audio/Yingyu88.mp3" autoplay="autoplay"></audio>
    <!--Start section Header标题-->
    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
            <div class="jumbotron text-center">
                <h1 class="text-left"><small class="text-left">@Resources.Resx_Home_Yingyu88.Sec_Header_PreTitle</small>@Resources.Resx_Home_Yingyu88.Sec_Header_Title</h1>
                <p class="big"></p>
            </div>
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/Yingyu88/Yingyu88_Header06.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>

    <!--Start section 问题 -->
    <section class="text-center text-md-left well well-sm section-border bg-dark text-light-clr">
        <div class="container">
            <h3 class="text-center text-white">@Resources.Resx_Home_Yingyu88.Sec_Issues_Title</h3>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-md-push-4 text-center inset-sm">
                    <div class="relative">
                        <img src="~/images/Yingyu88/baffled.png" alt="" class="phone_1">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-md-pull-4 text-md-right">
                    <div class="box-md inset-3 direction-md-rtl max-width">
                        <div class="box__left"><span class="icon icon-md icon-primary icon-circle-md-primary fa-odnoklassniki-square"></span></div>
                        <div class="box__body box__middle">
                            <h4 class="text-warning">@Resources.Resx_Home_Yingyu88.Sec_Issues_01_Name</h4>
                            <p class="text-left">@Resources.Resx_Home_Yingyu88.Sec_Issues_01_Content</p>
                        </div>
                    </div>
                    <div class="box-md inset-3 direction-md-rtl max-width">
                        <div class="box__left"><span class="icon icon-md icon-primary icon-circle-md-primary fa-eye-slash "></span></div>
                        <div class="box__body box__middle">
                            <h4 class="text-warning">@Resources.Resx_Home_Yingyu88.Sec_Issues_02_Name</h4>
                            <p class="text-left">@Resources.Resx_Home_Yingyu88.Sec_Issues_02_Content</p>
                        </div>
                    </div>
                    <div class="box-md inset-3 direction-md-rtl max-width">
                        <div class="box__left"><span class="icon icon-md icon-primary icon-circle-md-primary fa-ambulance"></span></div>
                        <div class="box__body box__middle">
                            <h4 class="text-warning">@Resources.Resx_Home_Yingyu88.Sec_Issues_03_Name</h4>
                            <p class="text-left">@Resources.Resx_Home_Yingyu88.Sec_Issues_03_Content</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="box-md inset-3 max-width">
                        <div class="box__left"><span class="icon icon-md icon-primary icon-circle-md-primary fa-battery-quarter"></span></div>
                        <div class="box__body box__middle">
                            <h4 class="text-warning">@Resources.Resx_Home_Yingyu88.Sec_Issues_04_Name</h4>
                            <p>@Resources.Resx_Home_Yingyu88.Sec_Issues_04_Content</p>
                        </div>
                    </div>
                    <div class="box-md inset-3 max-width">
                        <div class="box__left"><span class="icon icon-md icon-primary icon-circle-md-primary fa-bug"></span></div>
                        <div class="box__body box__middle">
                            <h4 class="text-warning">@Resources.Resx_Home_Yingyu88.Sec_Issues_05_Name</h4>
                            <p>@Resources.Resx_Home_Yingyu88.Sec_Issues_05_Content</p>
                        </div>
                    </div>
                    <div class="box-md inset-3 max-width">
                        <div class="box__left"><span class="icon icon-md icon-primary icon-circle-md-primary fa-bomb"></span></div>
                        <div class="box__body box__middle">
                            <h4 class="text-warning">@Resources.Resx_Home_Yingyu88.Sec_Issues_06_Name</h4>
                            <p>@Resources.Resx_Home_Yingyu88.Sec_Issues_06_Content</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--End section-->
    <!--Start section 什么是英语爸爸 -->
    <section class="well well-sm bg-white relative text-center" id="Introduction">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 bg-white">
                    <div class="box__left"><img src="~/images/Yingyu88/yingyu88_Logo_2019_128.png" alt="" class="img-box"></div>
                    <h1 class="text-bold text-dark-variant-2">
                        @Resources.Resx_Home_Yingyu88.Sec_Product_Name<br />
                        <small>@Resources.Resx_Home_Yingyu88.Sec_Product_Slogan</small>
                    </h1>
                    <p class="lead text-md-left">
                        @Resources.Resx_Home_Yingyu88.Sec_Product_Intro
                    </p>
                </div>
            </div>
            <div class="row offset-1 flow-offset-2 pricing-border-left">
                <div class="col-sm-6 col-lg-3 pricing-box pricing-box-hover bg-white">
                    <div class="thumbnail thumbnail-3">
                        <div class="caption">
                            <h3 class="text-uppercase text-bold letter-spacing-1">@Resources.Resx_Home_Yingyu88.Sec_Product_Service01_Name</h3>
                            <p></p>
                        </div>
                        <span class="icon icon-xl icon-light fa-hand-pointer-o"></span>
                        <p><h6 class="text-light-clr letter-spacing-1">@Resources.Resx_Home_Yingyu88.Sec_Product_Service01_Content</h6></p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pricing-box pricing-box-hover bg-white">
                    <div class="thumbnail thumbnail-3">
                        <div class="caption">
                            <h3 class="text-uppercase text-bold letter-spacing-1">@Resources.Resx_Home_Yingyu88.Sec_Product_Service02_Name</h3>
                            <p></p>
                        </div>
                        <span class="icon icon-xl icon-light fa-hand-peace-o"></span>
                        <h6 class="text-light-clr letter-spacing-1">@Resources.Resx_Home_Yingyu88.Sec_Product_Service02_Content</h6>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pricing-box pricing-box-hover bg-white">
                    <div class="thumbnail thumbnail-3">
                        <div class="caption">
                            <h3 class="text-uppercase text-bold letter-spacing-1">@Resources.Resx_Home_Yingyu88.Sec_Product_Service03_Name</h3>
                            <p></p>
                        </div>
                        <span class="icon icon-xl icon-light fa-hand-spock-o"></span>
                        <p><h6 class="text-light-clr letter-spacing-1">@Resources.Resx_Home_Yingyu88.Sec_Product_Service03_Content</h6></p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pricing-box pricing-box-hover bg-white">
                    <div class="thumbnail thumbnail-3">
                        <div class="caption">
                            <h3 class="text-uppercase text-bold letter-spacing-1">@Resources.Resx_Home_Yingyu88.Sec_Product_Service04_Name</h3>
                            <p></p>
                        </div>
                        <span class="icon icon-xl icon-light fa-hand-stop-o"></span>
                        <p><h6 class="text-light-clr letter-spacing-1">@Resources.Resx_Home_Yingyu88.Sec_Product_Service04_Content</h6></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
    <!--Start section 爸爸陪伴海边照片 -->

    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider bg-dark">
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/Yingyu88/Yingyu88_Header04.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>
    <!--Start section 理念 -->
    <section class="text-center text-md-left well well-sm section-border" id="Phylosophy">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!--产品理念-->
                    <article>
                        <div class="container">
                            <h1 class="text-bold text-center offset-2">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_Title<br />
                                <small>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_PreTitle</small>
                            </h1>
                            <p class="lead text-justify">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_Intro</p>

                            <div class="row">
                                <div class="col-sm-12 col-md-4 text-center"><img src="/images/svg/phone-wumi.png" alt=""></div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="box-sm inset-3">
                                        <div class="box__left"><span class="icon icon-md icon-primary line-height-1 fa-home"></span></div>
                                        <div class="box__body box__middle">
                                            <h5><a href="#">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_01_Name</a></h5>
                                            <p>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_01_Content</p>
                                        </div>
                                    </div>
                                    <div class="box-sm inset-3">
                                        <div class="box__left"><span class="icon icon-md icon-primary line-height-1 fa-smile-o"></span></div>
                                        <div class="box__body box__middle">
                                            <h5><a href="#">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_02_Name</a></h5>
                                            <p>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_02_Content</p>
                                        </div>
                                    </div>
                                    <div class="box-sm inset-3">
                                        <div class="box__left"><span class="icon icon-md icon-primary line-height-1 fa-star"></span></div>
                                        <div class="box__body box__middle">
                                            <h5><a href="#">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_03_Name</a></h5>
                                            <p>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_03_Content</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="box-sm inset-3">
                                        <div class="box__left"><span class="icon icon-md icon-primary line-height-1 fa-plane"></span></div>
                                        <div class="box__body box__middle">
                                            <h5><a href="#">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_04_Name</a></h5>
                                            <p>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_04_Content</p>
                                        </div>
                                    </div>
                                    <div class="box-sm inset-3">
                                        <div class="box__left"><span class="icon icon-md icon-primary line-height-1 fa-heart"></span></div>
                                        <div class="box__body box__middle">
                                            <h5><a href="#">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_05_Name</a></h5>
                                            <p>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_05_Content</p>
                                        </div>
                                    </div>
                                    <div class="box-sm inset-3">
                                        <div class="box__left"><span class="icon icon-md icon-primary line-height-1 fa-street-view "></span></div>
                                        <div class="box__body box__middle">
                                            <h5><a href="#">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_06_Name</a></h5>
                                            <p>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_06_Content</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
    <!--Start section 孩子广阔天地照片 -->

    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider bg-dark">
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/Yingyu88/Yingyu88_Header02.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>
    <!--Start section 产品介绍  -->
    <section class="well well-sm bg-white relative text-center" id="Product">
        <div class="container">
            <div class="row">
                <div class="">
                    <div class="box__left"><img src="~/images/Yingyu88/yingyu88_Logo_2019_128.png" alt="" class="img-box"></div>

                    <h1 class="text-bold">@Resources.Resx_Home_Yingyu88.Sec_Product_Component_Title<br />
                    <small>@Resources.Resx_Home_Yingyu88.Sec_Product_Component_Slogan</small></h1>
                    <p class="lead text-md-left">
                        @Resources.Resx_Home_Yingyu88.Sec_Product_Component_Intro
                </div>
            </div>
            <div class="text-lg-center">
                <div class="col-sm-6 col-md-3">
                    <span class="icon icon-lg icon-primary fa-star"></span>
                    <h5>@Resources.Resx_Home_Yingyu88.Sec_Product_Component01_Name</h5>
                    <p>@Resources.Resx_Home_Yingyu88.Sec_Product_Component01_Content</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <span class="icon icon-lg icon-primary fa-globe"></span>
                    <h5>@Resources.Resx_Home_Yingyu88.Sec_Product_Component02_Name</h5>
                    <p>@Resources.Resx_Home_Yingyu88.Sec_Product_Component02_Content</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <span class="icon icon-lg icon-primary fa-edit"></span>
                    <h5>@Resources.Resx_Home_Yingyu88.Sec_Product_Component03_Name</h5>
                    <p>@Resources.Resx_Home_Yingyu88.Sec_Product_Component03_Content</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <span class="icon icon-lg icon-primary fa-comments-o"></span>
                    <h5>@Resources.Resx_Home_Yingyu88.Sec_Product_Component04_Name</h5>
                    <p>@Resources.Resx_Home_Yingyu88.Sec_Product_Component04_Content</p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
    <!--Start section 海滩日落陪伴照片 -->
    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider bg-dark">
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/Yingyu88/Yingyu88_Header03.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>

    <!--Start section 特色 -->
    <section class="text-center text-md-left well well-sm section-border" id="Features">
        <div class="container">
            <div class="row">
                <h1 class="text-center">@Resources.Resx_Home_Yingyu88.Sec_Features_Title</h1>
                <p class="lead text-justify">
                    @Resources.Resx_Home_Yingyu88.Sec_Features_Intro
                </p>
                <!--3栏图文 1 -->
                <div class="text-center text-md-left ">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 well">
                                <img src="/images/Yingyu88/Yingyu88_Features_Game.jpg" alt="">
                                <div class="caption">
                                    <h4>@Resources.Resx_Home_Yingyu88.Sec_Features_01_Name</h4>
                                    <p>@Resources.Resx_Home_Yingyu88.Sec_Features_01_Content</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 well">
                                <img src="/images/Yingyu88/Yingyu88_Features_Sisters.jpg" alt="">
                                <div class="caption">
                                    <h4>@Resources.Resx_Home_Yingyu88.Sec_Features_02_Name</h4>
                                    <p>@Resources.Resx_Home_Yingyu88.Sec_Features_02_Content</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 well">
                                <img src="~/images/Yingyu88/Yingyu88_Features_Mysterious.jpg" alt="">
                                <div class="caption">
                                    <h4>@Resources.Resx_Home_Yingyu88.Sec_Features_03_Name</h4>
                                    <p>@Resources.Resx_Home_Yingyu88.Sec_Features_03_Content</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <!--3栏图文 2 -->
                <div class="text-center text-md-left ">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 well">
                                <img src="/images/Yingyu88/Yingyu88_Features_Mobile.jpg" alt="">
                                <div class="caption">
                                    <h4>@Resources.Resx_Home_Yingyu88.Sec_Features_04_Name</h4>
                                    <p>@Resources.Resx_Home_Yingyu88.Sec_Features_04_Content</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 well">
                                <img src="/images/Yingyu88/Yingyu88_Features_NewZealand.jpg" alt="">
                                <div class="caption">
                                    <h4>@Resources.Resx_Home_Yingyu88.Sec_Features_05_Name</h4>
                                    <p>@Resources.Resx_Home_Yingyu88.Sec_Features_05_Content</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Start section 变迁历程(snapshot)-->
    <section class="text-center text-md-left offset-2" id="Evolution">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-border">
                    <!--变迁历程-->
                    <article class="well">
                        <h1>@Resources.Resx_Home_Yingyu88.Sec_Evolution_Title</h1>
                        <div class="blog-info">
                            <div class="pull-md-left">
                                <time datetime="2017" class="meta fa-calendar">May 1, 2017</time>
                                <a class="badge fa-user text-uppercase font-secondary">Frank</a>
                            </div>
                            <a href="~/Yingyu88/Evolution" class="btn-link">@Resources.Resx_Home_Yingyu88.Sec_Evolution_LinkDetail</a>
                        </div>
                        <p class="lead offset-2 text-justify">
                            @Resources.Resx_Home_Yingyu88.Sec_Evolution_Intro
                        </p><br />
                        <div class="col-xs-12 btn-elements-group">
                            <a href="~/Yingyu88/Evolution" class="btn btn-primary btn-sm round-xl btn-shadow">@Resources.Resx_Home_Yingyu88.Sec_Evolution_ButtonMore</a>
                            <br />
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>


</main>

@section Scripts{
}
