

<!--
========================================================
                        CONTENT
========================================================
-->
<main class="page-content subpage_header">
    <!--Start section Header标题-->
    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
            <div class="jumbotron text-center">
                <h1><small></small></h1>
                <p class="big"></p>
            </div>
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/Yingyu88/Yingyu88_Header07.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>


    <!--Start section 变迁历程-->
    <section class="text-center text-md-left offset-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-border">
                    <!--变迁历程-->
                    <article class="well">
                        <h1>
                        @Resources.Resx_Yingyu88_Evolution.Sec_Header_Title<br />
                        <small>@Resources.Resx_Yingyu88_Evolution.Sec_Header_PreTitle</small></h1>
                        <div class="blog-info">
                            <div class="pull-md-left">
                                <time datetime="2017" class="meta fa-calendar">May 1, 2017</time>
                                <a class="badge fa-user text-uppercase font-secondary">Frank</a>
                            </div>
                        </div>
                        <p class="lead offset-2 text-justify">
                            @Resources.Resx_Yingyu88_Evolution.Sec_Header_Intro
                        </p>
                    </article>
                    <!--互动演艺-->
                    <article class="well">
                        <h2>@Resources.Resx_Yingyu88_Evolution.Sec_imadyPlatform_Name<small>@Resources.Resx_Yingyu88_Evolution.Sec_imadyPlatform_Date</small></h2>
                        <p>@Resources.Resx_Yingyu88_Evolution.Sec_imadyPlatform_Content</p>
                        <img src="/images/Yingyu88/2012_intro_02.jpg" alt="" class="offset-5">
                        <div class="row no-offset">
                            <img src="~/images/Yingyu88/2012_intro_01.jpg" alt="" class="pull-md-left img-inset-1">
                            <p class="lead text-justify">
                                @Resources.Resx_Yingyu88_Evolution.Sec_imadyPlatform_Para1<br /><br />
                                @Resources.Resx_Yingyu88_Evolution.Sec_imadyPlatform_Para2<br />
                            </p>
                        </div>
                    </article>

                    <!--互动卡通-->
                    <article class="well">
                        <h2>@Resources.Resx_Yingyu88_Evolution.Sec_imadyCartoon_Name<small>@Resources.Resx_Yingyu88_Evolution.Sec_imadyCartoon_Date</small></h2>
                        <p>@Resources.Resx_Yingyu88_Evolution.Sec_imadyCartoon_Content</p>
                        <div class="row no-offset">
                            <img src="~/images/Yingyu88/cartoon_intro_01.jpg" alt="" class="pull-md-left img-inset-1">
                            <p class="lead text-justify">
                                @Resources.Resx_Yingyu88_Evolution.Sec_imadyCartoon_Para1<br />
                            </p>
                        </div>
                        <img src="~/images/Yingyu88/Yingyu88_Header07.jpg" alt="" class="pull-md-left img-inset-1">
                    </article>

                    <!--呜咪讲故事-->
                    <article class="well">
                        <h2>@Resources.Resx_Yingyu88_Evolution.Sec_Wumi_Name<small>@Resources.Resx_Yingyu88_Evolution.Sec_Wumi_Date</small></h2>
                        <p>@Resources.Resx_Yingyu88_Evolution.Sec_Wumi_Content</p>
                        <div class="row no-offset">
                            <img src="~/images/Yingyu88/Yingyu88_Header07.jpg" alt="" class="pull-md-left img-inset-1">
                            <p class="lead text-justify">
                                @Resources.Resx_Yingyu88_Evolution.Sec_Wumi_Para1<br /><br />
                                @Resources.Resx_Yingyu88_Evolution.Sec_Wumi_Para2<br />
                            </p>
                        </div>
                        <img src="~/images/Yingyu88/Yingyu88_Header07.jpg" alt="" class="pull-md-left img-inset-1">
                    </article>

                    <!--英语爸爸-->
                    <article class="well">
                        <h2>@Resources.Resx_Yingyu88_Evolution.Sec_Yingyu88_Name<small>@Resources.Resx_Yingyu88_Evolution.Sec_Yingyu88_Date</small></h2>
                        <p>@Resources.Resx_Yingyu88_Evolution.Sec_Yingyu88_Content</p>
                        <div class="row no-offset">
                            <img src="~/images/Yingyu88/Yingyu88_Header06.jpg" alt="" class="pull-md-left img-inset-1">
                            <p class="lead text-justify">
                                @Resources.Resx_Yingyu88_Evolution.Sec_Yingyu88_Para1<br /><br />
                                @Resources.Resx_Yingyu88_Evolution.Sec_Yingyu88_Para2<br />
                            </p>
                        </div>
                        <img src="~/images/Yingyu88/Yingyu88_Header04.jpg" alt="" class="pull-md-left img-inset-1">
                    </article>
                    
                    <!--介绍视频-->
                    <article class="well">
                        <!--16:9 aspect ratio-->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="http://player.youku.com/player.php/sid/XNDEyMzk4NTY4/v.swf" allowfullscreen class="embed-responsive-item"></iframe>
                        </div>
                    </article>

                </div>

                <!--3栏图文
                <div class="col-xs-12 text-center text-md-left well">
                    <h5>Related Posts:</h5>
                    <div class="row no-offset">
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 section-border well">
                                <img src="/images/Yingyu88/Yingyu88_Header06.jpg" alt="">
                                <div class="caption">
                                    <h4><a href="blog_post.html">This is a Standard Post with a Preview Image</a></h4>
                                    <p class="text-dark-variant-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2015" class="meta fa-calendar">Feb 10, 2014</time><a href="#" class="badge fa-comments font-secondary">13</a>
                                        </div><a href="blog_post.html" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 section-border well">
                                <img src="/images/Yingyu88/Yingyu88_Header06.jpg" alt="">
                                <div class="caption">
                                    <h4><a href="blog_post.html">This is a Standard Post with a Preview Image</a></h4>
                                    <p class="text-dark-variant-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2015" class="meta fa-calendar">Feb 10, 2014</time><a href="#" class="badge fa-comments font-secondary">13</a>
                                        </div><a href="blog_post.html" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 section-border well">
                                <img src="/images/Yingyu88/Yingyu88_Header06.jpg" alt="">
                                <div class="caption">
                                    <h4><a href="blog_post.html">This is a Standard Post with a Preview Image</a></h4>
                                    <p class="text-dark-variant-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2015" class="meta fa-calendar">Feb 10, 2014</time><a href="#" class="badge fa-comments font-secondary">13</a>
                                        </div><a href="blog_post.html" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
-->

            </div>
        </div>
    </section>
</main>

@section Scripts{
}
