<!--
========================================================
                        CONTENT
========================================================
-->
<main class="page-content subpage_header">
    <!--Start section Header标题-->
    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
            <div class="jumbotron text-center">
                <h1><small>@Resources.Resx_Home_About.Sec_Header_PreTitle</small>@Resources.Resx_Home_About.Sec_Header_Title</h1>
                <p class="big">@Resources.Resx_Home_About.Sec_Header_Intro</p>
            </div>
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/header-3.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>

    <!--Start section 关于imady品牌-->
    <section class="well well-sm bg-lighter relative">
        <div class="container">
            <div class="row section-border">
                <div class="row section-border">
                    <div class="col-xs-12 col-inset-2">
                        <h1 class="text-bold">@Resources.Resx_Home_About.Sec_Brand_AboutBrand_Name</h1>
                        <p>
                            @Resources.Resx_Home_About.Sec_Brand_AboutBrand_Content
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-inset-2 section-border">
                    <h3 class="text-bold">@Resources.Resx_Home_About.Sec_Brand_Connotation_Name</h3>
                    <p>
                        @Resources.Resx_Home_About.Sec_Brand_Connotation_Content
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-inset-2">
                    <h3 class="text-bold">@Resources.Resx_Home_About.Sec_Brand_Mission_Name</h3>
                    <p>
                        @Resources.Resx_Home_About.Sec_Brand_Mission_Content
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->

    <!--Start section 咖啡-->
    <section class="text-center bg-dark-var1">
        <div class="container counter-panel">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div data-from="0" data-to="5000" class="counter"></div>
                    <p class="text-opacity font-secondary text-uppercase">@Resources.Resx_Home_About.Sec_Coffee_01</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div data-from="0" data-to="100" class="counter"></div>
                    <p class="text-opacity font-secondary text-uppercase">@Resources.Resx_Home_About.Sec_Coffee_02</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div data-from="0" data-to="7" class="counter"></div>
                    <p class="text-opacity font-secondary text-uppercase">@Resources.Resx_Home_About.Sec_Coffee_03</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div data-from="0" data-to="30000" class="counter"></div>
                    <p class="text-opacity font-secondary text-uppercase">@Resources.Resx_Home_About.Sec_Coffee_04</p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
    <!--Start section 做什么 -->
    <section class="text-center well well-sm text-md-left  bg-dark-var2" id="Phylosophy">
        <div class="container">
            <div class="row flow-offset-2">
                <div class="col-md-4">
                    <h4 class="text-bold text-opacity">@Resources.Resx_Home_About.Sec_Todo_01_Name</h4>
                    <hr class="short bg-primary">
                    <p>@Resources.Resx_Home_About.Sec_Todo_01_Content</p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-bold text-opacity">@Resources.Resx_Home_About.Sec_Todo_02_Name</h4>
                    <hr class="short bg-primary">
                    <p>@Resources.Resx_Home_About.Sec_Todo_02_Content</p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-bold text-opacity">@Resources.Resx_Home_About.Sec_Todo_03_Name</h4>
                    <hr class="short bg-primary">
                    <p>@Resources.Resx_Home_About.Sec_Todo_03_Content</p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
    <!--Start section List 团队成员 TeamInfo -->
    <section class="text-center text-sm-left well well-sm section-border bg-lighter relative" id="TeamIntro">
        <div class="container">
            <h1 class="text-bold text-md-left">@Resources.Resx_Home_About.Sec_Team_Title</h1>
            <p class="lead">@Resources.Resx_Home_About.Sec_Team_Intro</p>

            <hr>
            <div class="row flow-offset-2">
                <div class="col-sm-12 col-md-6">
                    <article class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="thumbnail"><img src="~/images/FrankShen_Small.JPG" alt="" class="img-rounded"></div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h6>@Resources.Resx_Home_About.Sec_Team_Member01_Name</h6>
                                    <p class="small text-light-clr text-uppercase">@Resources.Resx_Home_About.Sec_Team_Member01_Title</p>
                                    <p>@Resources.Resx_Home_About.Sec_Team_Member01_Intro</p>
                                    <ul class="list-inline list-inline-3">
                                        <li><a href="@Resources.Resx_Home_About.Sec_Team_Member01_LinkedIn" class="fa-linkedin"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-12 col-md-6">
                    <article class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="thumbnail"><img src="/images/DefaultPortrait.jpg" alt="" class="img-rounded"></div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h6>@Resources.Resx_Home_About.Sec_Team_Member02_Name</h6>
                                    <p class="small text-light-clr text-uppercase">@Resources.Resx_Home_About.Sec_Team_Member02_Title</p>
                                    <p>@Resources.Resx_Home_About.Sec_Team_Member02_Intro</p>
                                    <ul class="list-inline list-inline-3">
                                        <li><a href="@Resources.Resx_Home_About.Sec_Team_Member01_LinkedIn" class="fa-linkedin"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
    <!--Start section 发展历程时间线 TimeLine-->
    <section class="text-center text-md-left offset-1" id="TimeLine">
        <div class="container relative">
            <h1 class="text-bold">@Resources.Resx_Home_About.Sec_Timeline_Title</h1>
            <p class="lead">@Resources.Resx_Home_About.Sec_Timeline_Intro</p>
        </div>
    </section>
    <section class="text-center text-md-left offset-1 timeline" id="TimeLine">
        <div class="container">
            <div class="row">
                <!--2017-->
                <div class="col-xs-12 text-left text-md-center">
                    <time datetime="2017" class="h5 meta-timeline">2017</time>
                </div>
                <div class="col-xs-11 col-md-5 col-md-offset-0">
                    <article class="thumbnail well view-animate slow-hover">
                        <div class="caption max-width">
                            <h4><a href=""></a>@Resources.Resx_Home_About.Sec_Timeline_2017A_Title</h4>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2017" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2017A_Date</time>
                                </div>
                            </div>

                        </div>
                    </article>
                </div>

                <!--2015-->
                <div class="col-xs-12 text-left text-md-center">
                    <time datetime="2015" class="h5 meta-timeline">2015</time>
                </div>
                <div class="col-xs-11 col-md-5 col-md-offset-0">
                    <article class="thumbnail well view-animate slow-hover">
                        <div class="caption max-width">
                            <h4><a href=""></a>@Resources.Resx_Home_About.Sec_Timeline_2015A_Title</h4>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2015A_Date</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-11 col-md-5 col-md-offset-2 inset-1 timeline-right">
                    <article class="thumbnail well view-animate slow-hover">
                        <div class="caption max-width">
                            <h4><a href=""></a>@Resources.Resx_Home_About.Sec_Timeline_2015B_Title</h4>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2015B_Date</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!--2014-->
                <div class="col-xs-12 text-left text-md-center">
                    <time datetime="2014" class="h5 meta-timeline">2014</time>
                </div>
                <div class="col-xs-11 col-md-5 col-md-offset-0">
                    <article class="thumbnail well view-animate slow-hover">
                        <div class="caption max-width">
                            <h4><a href=""></a>@Resources.Resx_Home_About.Sec_Timeline_2014A_Title</h4>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2014" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2014A_Date</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-11 col-md-5 col-md-offset-2 inset-1 timeline-right">
                    <article class="thumbnail well view-animate slow-hover">
                        <div class="caption max-width">
                            <h4>@Resources.Resx_Home_About.Sec_Timeline_2014B_Title</h4>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2014" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2014B_Date</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-xs-12 timeline-hidden">
                    <div class="row">
                        <!--2013-->
                        <div class="col-xs-12 text-left text-md-center">
                            <time datetime="2013" class="h5 meta-timeline">2013</time>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-0">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4><a href="blog_post.html"></a>@Resources.Resx_Home_About.Sec_Timeline_2013A_Title</h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2015" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2013A_Date</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <!--2012-->
                        <div class="col-xs-12 text-left text-md-center">
                            <time datetime="2012" class="h5 meta-timeline">2012</time>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-0">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4><a href=""></a>@Resources.Resx_Home_About.Sec_Timeline_2012A_Title</h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2012" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2012A_Date</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-2 inset-1 timeline-right">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4>@Resources.Resx_Home_About.Sec_Timeline_2012B_Title</h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2012" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2012B_Date</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <!--2011-->
                        <div class="col-xs-12 text-left text-md-center">
                            <time datetime="2011" class="h5 meta-timeline">2011</time>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-0">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4><a href=""></a>@Resources.Resx_Home_About.Sec_Timeline_2011A_Title</h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2011" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2011A_Date</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4><a href=""></a>@Resources.Resx_Home_About.Sec_Timeline_2011B_Title</h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2011" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2011B_Date</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-2 inset-1 timeline-right">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4>@Resources.Resx_Home_About.Sec_Timeline_2011C_Title</h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2011" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2011C_Date</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <!--2010-->
                        <div class="col-xs-12 text-left text-md-center">
                            <time datetime="2010" class="h5 meta-timeline">2010</time>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-0">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4><a href=""></a>@Resources.Resx_Home_About.Sec_Timeline_2010A_Title</h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2010" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2010A_Date</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4>@Resources.Resx_Home_About.Sec_Timeline_2010B_Title</h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2010" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2010B_Date</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-2 inset-1 timeline-right">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4><a href=""></a>@Resources.Resx_Home_About.Sec_Timeline_2010C_Title</h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2010" class="meta fa-calendar">@Resources.Resx_Home_About.Sec_Timeline_2010C_Date</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-left text-md-center offset-4"><span class="btn btn-primary round-xl timeline-btn"><span>load more</span> <span>hide</span></span></div>
            </div>
        </div>
    </section>
    <!--End section-->
</main>

@section Scripts{
}
