<!--
========================================================
                        CONTENT
========================================================
-->
<main class="page-content">
    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
            <div class="jumbotron text-center">
                <h1><small>@Resources.Resx_Home_Index.Sec_Header_PreTitle</small>@Resources.Resx_Home_Index.Sec_Header_Title</h1>
                <p class="big">@Resources.Resx_Home_Index.Sec_Header_Intro</p>
            </div>
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/header-1.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
                <div data-slide-bg="/images/header-2.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
                <div data-slide-bg="/images/header-4.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>


    <!--Start section 美娱简介 intro-->
    <section class="well well-sm text-center text-md-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 ">
                    <h1 class="text-bold">@Resources.Resx_Home_Index.Sec_Intro_Title</h1>
                    <p class="lead">@Resources.Resx_Home_Index.Sec_Intro_SubTitle
                    <br /><br />@Resources.Resx_Home_Index.Sec_Intro_SubTitle1</p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
    <!--Start section 我们所做的-->
    <section class="text-center well well-sm text-md-left">
        <div class="container">
            <div class="row flow-offset-1 bg-lighter">
                <div class="col-md-4">
                    <h4 class="text-bold"><a href="#Yingyu88">@Resources.Resx_Home_Index.Sec_Intro_01_Name</a></h4>
                    <hr class="short bg-primary">
                    <p>@Resources.Resx_Home_Index.Sec_Intro_01_Content</p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-bold">@Resources.Resx_Home_Index.Sec_Intro_02_Name</h4>
                    <hr class="short bg-primary">
                    <p>@Resources.Resx_Home_Index.Sec_Intro_02_Content</p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-bold">@Resources.Resx_Home_Index.Sec_Intro_03_Name</h4>
                    <hr class="short bg-primary">
                    <p>@Resources.Resx_Home_Index.Sec_Intro_03_Content</p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->


    <!--Start section“英语爸爸”项目-->
    <section class="text-center text-sm-left well well-sm section-border bg-dark-var2" id="Yingyu88">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <h1 class="text-bold text-white">@Resources.Resx_Home_Index.Sec_Yingyu88_Title</h1>
                    <p class="lead text-light">@Resources.Resx_Home_Index.Sec_Yingyu88_SubTitle</p>
                </div>
            </div>
            <div class="row offset-1 flow-offset-3">
                <div class="col-sm-6">
                    <div class="box-sm box-skin-1 bg-lighter box-skin-left-offset-negative">
                        <div class="box__left box-md-inset-1"><span class="icon icon-md icon-primary line-height-1 fa-tree"></span></div>
                        <div class="box__body box__middle">
                            <h5><a href="#">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_01_Name</a></h5>
                            <p>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_01_Content</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-sm box-skin-1 bg-lighter box-skin-left-offset-negative">
                        <div class="box__left box-md-inset-1"><span class="icon icon-md icon-primary line-height-1 fa-male"></span></div>
                        <div class="box__body box__middle">
                            <h5><a href="#">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_05_Name</a></h5>
                            <p>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_05_Content</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row offset-1 flow-offset-3">
                <div class="col-sm-6">
                    <div class="box-sm box-skin-1 bg-lighter box-skin-left-offset-negative">
                        <div class="box__left box-md-inset-1"><span class="icon icon-md icon-primary line-height-1 fa-server"></span></div>
                        <div class="box__body box__middle">
                            <h5><a href="#">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_03_Name</a></h5>
                            <p>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_03_Content</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-sm box-skin-1 bg-lighter box-skin-right-offset-negative">
                        <div class="box__left box-md-inset-1"><span class="icon icon-md icon-primary line-height-1 fa-paw"></span></div>
                        <div class="box__body box__middle">
                            <h5><a href="#">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_04_Name</a></h5>
                            <p>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_04_Content</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row offset-1 flow-offset-3">
                <div class="col-sm-6">
                    <div class="box-sm box-skin-1 bg-lighter box-skin-right-offset-negative">
                        <div class="box__left box-md-inset-1"><span class="icon icon-md icon-primary line-height-1 fa-home"></span></div>
                        <div class="box__body box__middle">
                            <h5><a href="#">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_02_Name</a></h5>
                            <p>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_02_Content</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-sm box-skin-1 bg-lighter box-skin-right-offset-negative">
                        <div class="box__left box-md-inset-1"><span class="icon icon-md icon-primary line-height-1 fa-heart-o"></span></div>
                        <div class="box__body box__middle">
                            <h5><a href="#">@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_06_Name</a></h5>
                            <p>@Resources.Resx_Home_Yingyu88.Sec_Phylosophy_06_Content</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->



</main>



@section Scripts{

}