

<!--
========================================================
                        CONTENT
========================================================
-->
<main class="page-content subpage_header">
    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
            <div class="jumbotron text-center">
                <h1><small>@Resources.Resx_Home_Portfolio.Sec_Header_PreTitle</small>
                @Resources.Resx_Home_Portfolio.Sec_Header_Title</h1>
                <p class="big">@Resources.Resx_Home_Portfolio.Sec_Header_Intro</p>
            </div>
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/header-5.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>

    <!--Start section-->
    <section class="text-center text-md-left offset-1">
        <div class="container">
            <div class="row">

                <!--Start section 天睿房产-->
                <div class="col-xs-12 section-border" id="Tianrui">
                    <article class="thumbnail well">
                        <!--Swiper-->
                        <div class="caption">
                            <h4>@Resources.Resx_Home_Portfolio.Sec_Project_01_Name</h4>
                            <p>@Resources.Resx_Home_Portfolio.Sec_Project_01_Content</p>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">@Resources.Resx_Home_Portfolio.Sec_Project_01_Date</time>
                                    <a class="badge fa-user text-uppercase font-secondary">Frank</a>
                                    <span class="tags">
                                        <a class="badge fa-tags"></a>
                                        <a class="post-tag round-xl small">Asp.Net</a>
                                        <a class="post-tag round-xl small">C#</a>
                                        <a class="post-tag round-xl small">MySQL</a>
                                        <a class="post-tag round-xl small">WCF</a>
                                        <a class="post-tag round-xl small">WPF</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" data-height="36.32478632478632%" class="swiper-container swiper-slider">
                            <div class="swiper-wrapper">
                                <div data-slide-bg="/images/Tianrui/Tianrui_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Tianrui/Tianrui_Header1.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!--Start section slider虚拟震泽古镇-->
                <div class="col-xs-12 section-border" id="Zhenze">
                    <article class="well">
                        <div class="caption">
                            <h4>@Resources.Resx_Home_Portfolio.Sec_Project_02_Name</h4>
                            <p>@Resources.Resx_Home_Portfolio.Sec_Project_02_Content</p><br />
                            <p>@Resources.Resx_Home_Portfolio.Sec_Project_02_Content1</p>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">@Resources.Resx_Home_Portfolio.Sec_Project_02_Date</time>
                                    <a class="badge fa-user text-uppercase font-secondary">Frank</a>
                                    <span class="tags">
                                        <a class="badge fa-tags"></a>
                                        <a class="post-tag round-xl small">Unity3D</a>
                                        <a class="post-tag round-xl small">C#</a>
                                        <a class="post-tag round-xl small">XML</a>
                                    </span>

                                </div>
                            </div>
                        </div>
                        <!--Swiper-->
                        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" data-height="36.32478632478632%" class="swiper-container swiper-slider">
                            <div class="swiper-wrapper">
                                <div data-slide-bg="/images/Zhenze/Zhenze_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Zhenze/Zhenze_Header01.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Zhenze/Zhenze_Header02.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Zhenze/Zhenze_Header03.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!--End slider-->

                <!--Start section slider电科院虚拟高压变电站-->
                <div class="col-xs-12 section-border" id="Dian">
                    <article class="well">
                        <div class="caption">
                            <h4><a href="~/Portfolio/Electric">@Resources.Resx_Home_Portfolio.Sec_Project_03_Name</a></h4>
                            <p>@Resources.Resx_Home_Portfolio.Sec_Project_03_Content</p>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">@Resources.Resx_Home_Portfolio.Sec_Project_03_Date</time>
                                    <a class="badge fa-user text-uppercase font-secondary">Frank</a>
                                    <span class="tags">
                                        <a class="badge fa-tags"></a>
                                        <a class="post-tag round-xl small">Unity3D</a>
                                        <a class="post-tag round-xl small">C#</a>
                                    </span>
                                </div>
                                <a href="~/Portfolio/Electric" class="btn-link">Read More</a>
                            </div>
                        </div>
                        <!--Swiper-->
                        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" data-height="36.32478632478632%" class="swiper-container swiper-slider">
                            <div class="swiper-wrapper">
                                <div data-slide-bg="/images/Electric/Dian_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Electric/Dian02_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Electric/Dian03_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Electric/Dian04_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Electric/Dian05_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!--End slider-->

                <!--Start section slider大胃街区-->
                <div class="col-xs-12 section-border" id="ToHE">
                    <article class="well">
                        <div class="caption">
                            <h4>@Resources.Resx_Home_Portfolio.Sec_Project_04_Name</h4>
                            <p>@Resources.Resx_Home_Portfolio.Sec_Project_04_Content</p>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">@Resources.Resx_Home_Portfolio.Sec_Project_04_Date</time>
                                    <a class="badge fa-user text-uppercase font-secondary">Frank</a>
                                    <span class="tags">
                                        <a class="badge fa-tags"></a>
                                        <a class="post-tag round-xl small">Cocos2D</a>
                                        <a class="post-tag round-xl small">C++</a>
                                        <a class="post-tag round-xl small">XML</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--Swiper-->
                        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" data-height="36.32478632478632%" class="swiper-container swiper-slider">
                            <div class="swiper-wrapper">
                                <div data-slide-bg="/images/ToHE/ToHE_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!--End slider-->

                <!--Start section 邻里社交-->
                <div class="col-xs-12 section-border" id="Ququton">
                    <article class="thumbnail well">
                        <div class="caption">
                            <h4>@Resources.Resx_Home_Portfolio.Sec_Project_05_Name</h4>
                            <p>@Resources.Resx_Home_Portfolio.Sec_Project_05_Content</p>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">@Resources.Resx_Home_Portfolio.Sec_Project_05_Date</time>
                                    <a class="badge fa-user text-uppercase font-secondary">Frank</a>
                                    <span class="tags">
                                        <a class="badge fa-tags"></a>
                                        <a class="post-tag round-xl small">Asp.Net Core</a>
                                        <a class="post-tag round-xl small">C#</a>
                                        <a class="post-tag round-xl small">Sql Server</a>
                                        <a class="post-tag round-xl small">EntityFramework</a>
                                        <a class="post-tag round-xl small">WPF</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <img src="~/images/Ququton/ququton_Header.jpg" alt="Ququton 区区通邻里社交">
                    </article>
                </div>


            </div>
        </div>
    </section>

    <!--Start section
    <section class="well text-center text-md-left">
        <div class="container">
            <div aria-label="First group" role="group" class="col-inset-2 text-center btn-group"><a href="#" class="btn btn-default round-small active">1</a><a href="#" class="btn btn-default round-small">2</a><a href="#" class="btn btn-default round-small">3</a><span class="text-light-clr font-secondary">...</span><a href="#" class="btn btn-default round-small">8</a></div>
        </div>
    </section>
    <!--End section-->
</main>

@section Scripts{
}
